body::-webkit-scrollbar {
  width: 12px;
  background-color: lightgrey;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(168, 168, 168);
}

.footer {
  background-color: #619f61;
  position: relative;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  bottom: 0;
  left: 0;
}

.footer-text {
  color: #292811;
}

.titulos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-login {
  width: 100vw;
  height: 100vh;
}

.page-bg {
  filter: blur(4px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-login {
  font-family: 'Signika', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  width: 50%;
  height: 50%;
  color: #292811;
  display: flex;
}

.titulos-login {
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #679f66;
  border-top: 5px solid #58521a;
  border-left: 5px solid #58521a;
  border-bottom: 5px solid #58521a;
  border-radius: 2rem 0rem 0rem 2rem;
}

.titulos-login i {
  border-bottom: 1px solid #29281183;
  width: 70%;
  text-align: center;
}

.datos-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: rgb(176, 206, 176);
  border-top: 5px solid #58521a;
  border-right: 5px solid #58521a;
  border-bottom: 5px solid #58521a;
  border-radius: 0rem 2rem 2rem 0rem;
}

.titulo-datos-login {
  color: #292811;
  margin: 1rem;
  font-size: 2rem;
}

.datos-form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-login {
  color: #58521a;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: 2px solid #58521a;
  border-radius: 50px;
}

.btn-login:hover {
  color: #292811;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #99e498;
  border: 2px solid darkgreen;
  border-radius: 50px;
}

.inputs-login {
  background-color: rgb(176, 206, 176);
  border: 0px;
  text-decoration: none;
  border-bottom: 1px solid #58521a;
  margin-bottom: .5rem;
}

@media (max-width:1100px) {
  /* login */
  .container-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-login {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
  }
  .titulos-login i {
    border-bottom: 1px solid #29281183;
    width: 80%;
    text-align: center;
  }
  .inputs-login {
    width: 70%;
  }
  .titulos-login {
    font-size: 1.5rem;
    border-top: 5px solid #58521a;
    border-left: 5px solid #58521a;
    border-right: 5px solid #58521a;
    border-bottom: 0px solid #58521a;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
  }
  .datos-login {
    border-top: 0px solid #58521a;
    border-left: 5px solid #58521a;
    border-right: 5px solid #58521a;
    border-bottom: 5px solid #58521a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0rem 0rem 2rem 2rem;
  }
  .titulo-datos-login {
    color: #292811;
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: initial;
  }
  /* termina login */
}

@media (max-width:820px) {
  .centrar {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .tarea {
    width: 100%;
  }
}

/* 
.navbar-login {
  padding: 1rem;
  background-color: #619f61;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.formulario-login {
  height: 90%;
}

.titulo-login {
  margin-left: 1rem;
  color: white;
}

.datos-div-login {
  display: flex;
  justify-content: center;
}

.datos-login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.footer-login {} */

/*Contacto*/

.diveliminar {
  background-color: rgb(248, 205, 205);
  border-radius: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.diveliminar:hover {
  cursor: pointer;
}

/*Estilos modal*/



/*Navbar*/

.logout:hover, #navbarDropdownMenuLink-3:hover {
  cursor: pointer;
}

.navbar2 {
  background-color: #619f61;
}

.logoimg {
  border-radius: 50%;
}

.dropdown-item:active {
  background-color: green;
}

.nav-link {
  font-size: 1.3rem;
}

.icono-x {
  font-size: 2rem;
}

.fa-check-circle{
  color: rgb(66, 185, 66);
  margin-left: 5px;
}

.navbar-toggler {
  background-color: #68a468;
  border: 3px solid #292811;
}

.logotext {
  color: white;
  text-shadow: -.5px -.5px .5px #000, .5px .5px .5px #000, -.5px .5px .5px #000, .5px -.5px .5px #000;
}

.alinearlinks {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

/*Fraseinicio*/

/*Noticias*/

.edicion {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  border-top: 1px solid gray;
  font-size: 1.1rem;
}

.eliminar {
  margin-left: 2px;
  color: red;
}

.editar {
  margin-left: 2px;
  color: darkorange;
}

/*Estilos ediciones*/

.diveliminar {
  background-color: rgb(248, 205, 205);
  border-radius: 10px;
  padding: 5px;
}

.divstatus {
  background-color: rgb(222, 253, 219);
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.diveditar {
  background-color: rgb(251, 247, 199);
  border-radius: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.diveliminar:hover, .diveditar:hover {
  cursor: pointer;
}

/*Secciones*/

.seccion {
  font-family: Arial Black;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  font-size: 45px;
  color: #5a9759;
  text-transform: uppercase;
  text-shadow: -.5px -.5px .5px darkgreen, .5px .5px .5px darkgreen, -.5px .5px .5px darkgreen, .5px -.5px .5px darkgreen;
}

/*Noticias*/

.btn-add {
  color: green;
  border: .2rem solid green;
  font-weight: 600;
  background-color: #bddabd;
  text-decoration: none;
}

.disabled {
  resize: none;
}

.tarjeta-noticias {
  margin-bottom: 2rem;
}

.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tarea {
  width: 30%;
}

.flexd {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.imagen-galeria {
  margin: 1.5rem;
}

.galeria {
  align-items: center;
}

.card-contacto {
  border: 5px solid #5a9759;
  padding-top: 1rem;
}

.go-up {
  color: green;
  font-size: 2rem;
  border: .3rem solid green;
  background-color: rgb(176, 206, 176);
  padding: .4rem;
  margin: 0px;
  border-radius: 1rem;
}

/* anuncios */

.btn-disabled{
  pointer-events: none;
  background-color: gray;
  border:1px solid gray;
}

.sinContenido{
  color: gray;
  margin: 5rem;
  text-align: center;
}

.colores {
  background-color: #292811;
  background-color: #58521a;
  background-color: #a98c5f;
  background-color: #f5f4f2;
  background-color: #619f61;
  background-color: #b28c66;
  background-color: #68a468;
  background-color: #5a9759;
}